<%= search_form_for @q, url: diaries_path, class: 'mb-4' do |f| %>
  <div class='row mt-2 mb-1 px-3'>
    <div class='col-md-4'>
      <%= f.label :content_cont, 'テキスト', class: 'form-label' %>
      <%= f.search_field :content_cont, class: 'form-control' %>
    </div>
    <div class='col-md-4'>
      <%= f.label :user_name_cont, 'ユーザー名', class: 'form-label' %>
      <%= f.search_field :user_name_cont, class: 'form-control' %>
    </div>
    <div class='col-md-4'>
      <%= f.label :user_name_cont, 'タグ名', class: 'form-label' %>
    <%= f.collection_select :tags_name_cont, Tag.all, :id, :name, {prompt: ""}, {class: 'form-select'} %>
    </div>
    <div class='mt-1'>
      <%= f.submit '検索', class: 'btn btn-secondary' %>
    </div>
  </div>
<% end %>

<%= paginate @diaries, theme: 'twitter-bootstrap-4'  %>
<ul>
  <% @diaries.each do |diary| %>
    <div class="card mb-1">
      <div class="card-header">
        <%= diary.created_at %>
      </div>
      <div class="card-body">
        <blockquote class="blockquote mb-0">
          <%= link_to diary_path(diary.id) do %>
          <p><%= diary.content.slice(0, 100) %> <%= diary.content.length>100 ? '...' :  '' %></p>
          <% end %>
          <p>
            <% diary.tags.each do |tag| %>
              <%= link_to root_path(q: {tags_name_cont: tag.id}) do %>
                <span class='badge text-bg-secondary'><%= tag.name %></span>
                <% end %>
            <% end%>
          </p>
          <footer class="blockquote-footer"><%= diary.user.name %></footer>
        </blockquote>
      </div>
    </div>
  <% end %>
</ul>
<%= paginate @diaries, theme: 'twitter-bootstrap-4'  %>