<div class="card mt-1 mb-2">
  <div class="card-header">
    <%= @diary.created_at %>
  </div>
  <div class="card-body">
    <blockquote class="blockquote mb-0">
      <p><%= @diary.content %></p>
      <p>
        <% @diary.tags.each do |tag| %>
          <%= link_to root_path(q: {tags_name_cont: tag.id}) do %>
            <span class='badge text-bg-secondary'><%= tag.name %></span>
            <% end %>
        <% end%>
      </p>
      <footer class="blockquote-footer"><%= @diary.user.name %></footer>
    </blockquote>
  </div>
</div>
<% if @diary.tags.present? %>
  <h2><%= @diary.tags.first.name %>に紐づいた日記の一覧:</h2>
  <div class='row'>
    <% @diary.tags.first.diaries.slice(0, 6).each do |diary| %>
      <div class='col-xs-12 col-md-6 col-lg-4' >
        <div class="card mb-1">
          <div class="card-header">
            <%= diary.created_at %>
          </div>
          <div class="card-body">
            <blockquote class="blockquote mb-0">
              <%= link_to diary_path(diary.id) do %>
              <p><%= diary.content.slice(0, 100) %> <%= diary.content.length>100 ? '...' :  '' %></p>
              <% end %>
              <p>
                <% diary.tags.each do |tag| %>
                  <%= link_to root_path(q: {tags_name_cont: tag.id}) do %>
                    <span class='badge text-bg-secondary'><%= tag.name %></span>
                    <% end %>
                <% end%>
              </p>
              <footer class="blockquote-footer"><%= diary.user.name %></footer>
            </blockquote>
          </div>
      </div>    
      </div>
    <% end %>
  </div>
<% end %>