<nav class="navbar navbar-expand-lg bg-info px-5 pt-3 pb-4">
  <div class="container-fluid">
    <%= link_to '夢日記', root_path, class: "navbar-brand text-white" %>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <%= link_to 'タグ一覧', tags_path, class: 'nav-link text-white'%>
        </li>
        <li class="nav-item">
          <%= link_to 'ユーザー一覧', users_path, class: 'nav-link text-white'%>
        </li>
      </ul>
      <% if logged_in? %>
        <div class="d-flex nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            個人画面
          </a>
          <ul class="dropdown-menu dropdown-menu-end">
            <li><a class="dropdown-item" href="#">個人情報確認</a></li>
            <li><a class="dropdown-item" href="#">個人データ分析</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><%= link_to 'ログアウト', session_path(current_user), data: {turbo_method: :delete, turbo_confirm: 'Are you sure?'}, class: "dropdown-item" %></li>
          </ul>
        </div>
      <% else %>
        <%= link_to "ログイン/新規登録", new_session_path %>
      <%end%>
    </div>
  </div>
</nav>