<!DOCTYPE html>
<html>
  <head>
    <title>TestApp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <%= render 'layouts/header' %>
    <% flash.each do |message_type, message| %>
    <p class="alert alert-<%= message_type %> mb-0">
      <%= message %>
    </p>
    <% end %>
    <div class='main-background'>
      <div class='container-md px-5'>
        <div class="row">
          <div class="col-2">
            <%if logged_in? %>
              <!-- Button trigger modal -->
              <span class="position-fixed top-85" <%= 'data-bs-toggle=tooltip data-bs-placement=top data-bs-title=今日の分の投稿が終わりました!毎日7時に更新されます。' if already_posted_for_today?(current_user) %>>
                <button type="button" <%= "disabled" if already_posted_for_today?(current_user) %> class="btn btn-primary btn-lg" data-bs-toggle="modal" data-bs-target="#exampleModalCenter" >
                  日記を追加
                </button>
              </span>

              <!-- Modal -->
              <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title" id="exampleModalLongTitle">日記を追加</h5>
                    </div>
                    <%= form_with model: @diary do |f| %>
                      <div class="modal-body form-group">
                          <%= f.text_area :content, class: "form-control", rows: 5 , id: 'diary-content' %>
                           <%= f.collection_check_boxes :tag_ids, Tag.all, :id, :name%>
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">X</button>
                        <%= f.submit "記録する", id: 'diary-create-button', class: "btn btn-primary" %>
                      </div>
                    <% end %>
                  </div>
                </div>
              </div>
            <% end %>
          </div>
          <div class="col-10">
            <%= yield %>
          </div>
        </div>
      </div>
    </div>
    <%= render 'layouts/footer' %>
  </body>
</html>
